@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

html, body{
    width: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Comfortaa', cursive;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient( 315deg, #4158D0 0%,#00B4D8 25%, #90E0EF 50%, #CAF0F8 75%, #FFCC70 100%);
}

#nav-bar{
    width: 95%;
    margin: 0 2%;
    padding: 1% 0;

    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    font-size:3rem;
    color:darkslategrey;

    background : radial-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.5));
    border: 2px solid rgba(255,255,255,0.2);
    border-radius:  0 0 16px  16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);


}
#nav-bar a{
    margin-right: 25%;
}
#nav-bar img{
    width: 50px;
    height: auto;
    margin-left: 5%;    
    opacity: 0.7;
}

#site-top{
    width: 60%;
    height: 100px;

    margin-top: 3%;
    margin-bottom: 2%;
    margin-left: 12.5%;

    background : radial-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.5));
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);

}
#site-top p{
    margin: 0;
    padding: 1%;
}

#students-container{
    width: 75%;
    height: 100%;

    margin-left: 12.5%;
    margin-bottom: 2%;

    background : radial-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.5));
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
}

#students-container h3 {
    margin: 2%;
    font-size: 2rem;
    font-weight: 500;
    color:darkslategray;
}

.students-box{
    width: 200px;
    height: 200px;
    border-radius: 16px;
    margin: 2%;
}

.students-box img{
    width: 80%;
}

#link-box{
    display: flex;
    flex-wrap: wrap;
    padding: 0 7% 5% 7%;
    width: 90%;
    height: 30%;
}
#students-container .num-etu {
    z-index: 100;
    margin: 2%;
    bottom: 0;
    padding: 5%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 100%;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    width: 1em;
    height: 1em;
    font-size: 1.5rem;
    font-weight: 700;
    color:rgb(67, 74, 101);
}
a{
    display: flex;
    text-decoration: none;
}