<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>HUB DIA2022</title>
    
    <link rel="stylesheet" href="../assets/css/student-style.css">
    <link rel="stylesheet" href="../assets/css/main-style.css">
<body>
    <header>
        <nav id="nav-bar">
            <a href="..\index.html"><img src="..\media\contour-du-bouton-circulaire-fleche-arriere-gauche.png" alt="retour"></a> 
            <p>Page étudiant XX</p>
        </nav>
    </header>

    <main class="container set-full-height flex wrap">
        <aside id="students-aside">
            <div class="students-pp"> 
                <img src="../assets/media/icons/icons8-compte-test-100.png" alt="">
            </div>
            <div class="aside-content">
                <p>Nom Prénom</p>
                <p>Date de naissance</p>
                <p>Adresse</p>
                <p><a href="#">Email@email.com</a></p>
            </div>
        </aside>
        
        <section class="w-100">
            <article class="student-box">
                <p>Description de l'étudiant</p>
            </article>
            <article class="student-box">
                <p>Parcours de l'étudiant</p>
            </article>
            <article class="student-box">
                <p>Média de l'étudiant</p>
                <div class="galerie">
                    <img src="../assets/media/laurence-fusco-adrMdBCShCQ-unsplash.jpg" alt="">
                    <img src="../assets/media/minh-pham-HI6gy-p-WBI-unsplash.jpg" alt="">
                    <img src="../assets/media/warren-jones-LFlVuWLjYEo-unsplash.jpg" alt="">
                </div>
            </article>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>