*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#main-container{
    margin:1% auto;
    width: 80%;
    height: 37.5rem;
    display: flex;
}

#students-details-container{
    width: 20%;
    height: 88%;
    margin: 2% 0 0 5%;
    padding: 1% 5% ;
    background : radial-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.5));
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
}

.students-pp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.students-pp img{
    width: 80%;
    margin: 5%;
    margin-bottom: 15%;
}

.students-infos{
    margin-top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.students-infos p {
    margin: 15% 0;
    border-bottom: 2px solid rgba(241, 253, 255, 0.5);
    font-size: 0.8em;

}

aside{
    width: 100%;
    height: 100%;
    margin: 0 0 0 5%;
}

.detail-students-box{
    width: 90%;
    height: 20%;
    margin-top: 3%;
    padding-top: 2%;
    padding-left: 2%;
    background : radial-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.5));
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.detail-students-box-galerie{
    width: 90%;
    margin-top: 3%;
    margin-bottom: 5%;
    height: 33%;
    padding-top: 2%;
    padding-left: 2%;
    background : radial-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.5));
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.galerie{
    padding: 0 5%;
    margin-top: 3%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-students-box-galerie img{
    width: 20%;
    border-radius: 16px;
    border: 4px solid rgba(255,255,255,0.5);
}

.detail-students-box ul{
    list-style-type: circle;
}